<button id="menu-btn">
    <span class="material-icons-sharp">
        menu
    </span>
</button>
<div class="dark-mode">
    <span class="material-icons-sharp active">
        light_mode
    </span>
    <span class="material-icons-sharp">
        dark_mode
    </span>
</div>

<div class="profile">
    <% if (user) { %>
    <div class="info">
        <p>Hey, <b><%= user.nombre %></p>
        <small class="text-muted"><%= user.rol %></small>
    </div>
    <div class="profile-photo">
        <img src="/Corluss<%= user.foto %>" alt="foto" />
    </div>
    <% } %>
</div>