<aside>
    <div class="toggle">
        <div class="logo">
            <img src="/img/icono.png">
            <h2>Cor<span class="danger">Luss</span></h2>
        </div>
        <div class="close" id="close-btn">
            <span class="material-icons-sharp">
                close
            </span>
        </div>
    </div>

    <div class="sidebar">
        <a href="/inicio">
            <span class="material-icons-sharp">
                dashboard
            </span>
            <h3>Principal</h3>
        </a>


        
        <a href="/perfil">
            <span class="material-icons-sharp">
                person_outline
            </span>
            <h3>Perfil</h3>
        </a>
       
        <a href="/mensajesP" >
            <span class="material-icons-sharp">
                chat
            </span>
            <h3>Mensajes</h3>
        </a>

        <a href="/reportar">
            <span class="material-icons-sharp">
                report_gmailerrorred
            </span>
            <h3>Reportar</h3>
        </a>

        <a href="/alta">
            <span class="material-icons-sharp">
                add
            </span>
            <h3>Crear perfil</h3>
        </a>

        <a href="/instructivo">
            <span class="material-icons-sharp">
                help
            </span>
            <h3>Ayuda e instructivo</h3>    
        </a>


        <a href="/logout" id="boton-cerrar-sesion">
            <span class="material-icons-sharp">logout</span>
            <h3>Cerrar sesión</h3>
        </a>
        
    </div>
</aside>