<section class="footer__container container">
    <nav class="nav nav--footer">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1881.0175926241789!2d-99.17677874930675!3d19.45404975122762!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cdffeaf6b0a85d%3A0xb6ad4ff925a0d906!2sCentro%20Estudios%20Cient%C3%ADficos%20y%20Tecnol%C3%B3gicos%20(CECyT%209)%20%22Juan%20de%20Dios%20B%C3%A1tiz%22!5e0!3m2!1ses!2smx!4v1697733702930!5m2!1ses!2smx" 
        width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="footer__map"></iframe>
    </nav>

    <form class="footer__form" action="https://formspree.io/f/mknkkrkj" method="POST">
    
        <h2 class="footer__newsletter">Envíanos un mensaje</h2>
        <div class="footer__inputs">
            <input type="email" placeholder="Correo:" class="footer__input" name="_replyto">
            <input type="submit" value="Enviar" class="footer__submit">
        </div>
    </form>
</section>

<section class="footer__copy container">
    <div class="footer__social">
        <a href="#" class="footer__icons"><img src="/img/facebook.svg" class="footer__img"></a>
        <a href="#" class="footer__icons"><img src="/img/twitter.svg" class="footer__img"></a>
        <a href="#" class="footer__icons"><img src="/img/instagram.png" class="footer__img"></a>
    </div>

    <h3 class="footer__copyright">Derechos reservados &copy; Corluss</h3>
</section>