<nav class="nav container">
    <div class="nav__logo">
        <h2 class="nav__title">CORLUSS</h2>
    </div>

    <ul class="nav__link nav__link--menu">
        <li class="nav__items">
            <a href="/Corluss/login" class="nav__links">Inicia sesión</a>
        </li>
        
        <img src="/Corluss/img/close.svg" class="nav__close">
    </ul>

    <div class="nav__menu">
        <img src="/Corluss/img/menu.svg" class="nav__img">
    </div>
</nav>