<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="/css/dasboard.css">
    <title>Perfil</title>
    <link rel="shortcut icon" href="/img/icono.png" type="image/x-icon">
</head> 
<body>
    <div class="container">
        <%- include("sidebar") %>
    <main>
        <h1>¿Qué haremos hoy?</h1>
			<form action="#">
				<div class="form-input">
					<input type="search" placeholder="Buscar..." required>
					<button type="submit" class="search-btn"><span class="material-icons-sharp">search</span>
                    </button>
				</div>
			</form>
    </main>
</div>
</body>
</html>