<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" href="/css/administrador.css">

    <title>Registrar</title>
    <link rel="shortcut icon" href="/img/icono.png" type="image/x-icon">
</head>

<body>

    <section id="sidebar">
		<%- include("partials/sidebar") %>
	</section>
    
</body>

