<aside>
    <div class="toggle">
        <div class="logo">
            <img src="/Corluss/img/icono.png">
            <h2>Cor<span class="danger">Luss</span></h2>
        </div>
        <div class="close" id="close-btn">
            <span class="material-icons-sharp">
                close
            </span>
        </div>
    </div>

    <div class="sidebar">
        <a href="/Corluss/principalA">
            <span class="material-icons-sharp">
                dashboard
            </span>
            <h3>Principal</h3>
        </a>

        <a href="/Corluss/perfilH">
            <span class="material-icons-sharp">
                person_outline
            </span>
            <h3>Perfil</h3>
        </a>
       
        <a href="/Corluss/leccion" >
            <span class="material-icons-sharp">
                school
            </span>
            <h3>Lección</h3>
        </a>

        <a href="/Corluss/mensajesH" >
            <span class="material-icons-sharp">
                chat
            </span>
            <h3>Mensajes</h3>
        </a>

        <a href="/Corluss/pendientes">
            <span class="material-icons-sharp">
                inventory
            </span>
            <h3>Pendientes</h3>
        </a>

        <a href="/Corluss/configuracion">
            <span class="material-icons-sharp">
                settings
            </span>
            <h3>Configuración</h3>
        </a>
        
        <a href="/Corluss/instructivoH">
            <span class="material-icons-sharp">
                help
            </span>
            <h3>Ayuda e instructivo</h3>    
        </a>

        <a href="/logout">
            <span class="material-icons-sharp">
                logout
            </span>
            <h3>Cerrar sesión</h3>
        </a>
    </div>
</aside>